In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.notebook_repr_html", False)  # disable "rich" output

In [3]:
air = pd.read_csv("https://raw.githubusercontent.com/gagolews/" +
    "teaching-data/master/marek/air_quality_2018_means.csv",
    comment="#")
air = (
    air.
    loc[air.param_id.isin(["BPM2.5", "NO2", "CO"]), :].
    reset_index(drop=True)
)
air

          sp_name param_id      value
0      Alphington   BPM2.5   7.848758
1      Alphington       CO   0.210884
2      Alphington      NO2   9.558120
3    Altona North      NO2   9.467912
4       Churchill   BPM2.5   6.391230
5       Dandenong      NO2   9.800705
6       Footscray   BPM2.5   7.640948
7       Footscray       CO   0.139754
8       Footscray      NO2  10.274531
9   Geelong South   BPM2.5   6.502762
10  Geelong South       CO   0.142473
11  Geelong South      NO2   5.681722
12  Melbourne CBD   BPM2.5   8.072998
13            Moe   BPM2.5   6.427079
14   Morwell East   BPM2.5   6.784596
15   Morwell East       CO   0.140836
16  Morwell South   BPM2.5   6.512849
17  Morwell South       CO   0.151979
18  Morwell South      NO2   5.124430
19      Traralgon   BPM2.5   8.024735
20      Traralgon       CO   0.159212
21      Traralgon      NO2   5.776333

In [4]:
air.sort_values("value", ascending=False)

          sp_name param_id      value
8       Footscray      NO2  10.274531
5       Dandenong      NO2   9.800705
2      Alphington      NO2   9.558120
3    Altona North      NO2   9.467912
12  Melbourne CBD   BPM2.5   8.072998
19      Traralgon   BPM2.5   8.024735
0      Alphington   BPM2.5   7.848758
6       Footscray   BPM2.5   7.640948
14   Morwell East   BPM2.5   6.784596
16  Morwell South   BPM2.5   6.512849
9   Geelong South   BPM2.5   6.502762
13            Moe   BPM2.5   6.427079
4       Churchill   BPM2.5   6.391230
21      Traralgon      NO2   5.776333
11  Geelong South      NO2   5.681722
18  Morwell South      NO2   5.124430
1      Alphington       CO   0.210884
20      Traralgon       CO   0.159212
17  Morwell South       CO   0.151979
10  Geelong South       CO   0.142473
15   Morwell East       CO   0.140836
7       Footscray       CO   0.139754

In [5]:
air.sort_values(["param_id", "value"], ascending=[True, False])

          sp_name param_id      value
12  Melbourne CBD   BPM2.5   8.072998
19      Traralgon   BPM2.5   8.024735
0      Alphington   BPM2.5   7.848758
6       Footscray   BPM2.5   7.640948
14   Morwell East   BPM2.5   6.784596
16  Morwell South   BPM2.5   6.512849
9   Geelong South   BPM2.5   6.502762
13            Moe   BPM2.5   6.427079
4       Churchill   BPM2.5   6.391230
1      Alphington       CO   0.210884
20      Traralgon       CO   0.159212
17  Morwell South       CO   0.151979
10  Geelong South       CO   0.142473
15   Morwell East       CO   0.140836
7       Footscray       CO   0.139754
8       Footscray      NO2  10.274531
5       Dandenong      NO2   9.800705
2      Alphington      NO2   9.558120
3    Altona North      NO2   9.467912
21      Traralgon      NO2   5.776333
11  Geelong South      NO2   5.681722
18  Morwell South      NO2   5.124430

# unstacking

In [8]:
air.set_index(["sp_name","param_id"]).unstack()

                  value
param_id         BPM2.5        CO        NO2
sp_name
Alphington     7.848758  0.210884   9.558120
Altona North        NaN       NaN   9.467912
Churchill      6.391230       NaN        NaN
Dandenong           NaN       NaN   9.800705
Footscray      7.640948  0.139754  10.274531
Geelong South  6.502762  0.142473   5.681722
Melbourne CBD  8.072998       NaN        NaN
Moe            6.427079       NaN        NaN
Morwell East   6.784596  0.140836        NaN
Morwell South  6.512849  0.151979   5.124430
Traralgon      8.024735  0.159212   5.776333

In [9]:
air_wide=air.set_index(["sp_name","param_id"]).unstack().loc[:,"value"]
air_wide

param_id         BPM2.5        CO        NO2
sp_name
Alphington     7.848758  0.210884   9.558120
Altona North        NaN       NaN   9.467912
Churchill      6.391230       NaN        NaN
Dandenong           NaN       NaN   9.800705
Footscray      7.640948  0.139754  10.274531
Geelong South  6.502762  0.142473   5.681722
Melbourne CBD  8.072998       NaN        NaN
Moe            6.427079       NaN        NaN
Morwell East   6.784596  0.140836        NaN
Morwell South  6.512849  0.151979   5.124430
Traralgon      8.024735  0.159212   5.776333

# Stacking

In [13]:
air_wide.stack()

sp_name        param_id
Alphington     BPM2.5       7.848758
               CO           0.210884
               NO2          9.558120
Altona North   NO2          9.467912
Churchill      BPM2.5       6.391230
Dandenong      NO2          9.800705
Footscray      BPM2.5       7.640948
               CO           0.139754
               NO2         10.274531
Geelong South  BPM2.5       6.502762
               CO           0.142473
               NO2          5.681722
Melbourne CBD  BPM2.5       8.072998
Moe            BPM2.5       6.427079
Morwell East   BPM2.5       6.784596
               CO           0.140836
Morwell South  BPM2.5       6.512849
               CO           0.151979
               NO2          5.124430
Traralgon      BPM2.5       8.024735
               CO           0.159212
               NO2          5.776333
dtype: float64

In [14]:
air_wide.stack().rename("value")

sp_name        param_id
Alphington     BPM2.5       7.848758
               CO           0.210884
               NO2          9.558120
Altona North   NO2          9.467912
Churchill      BPM2.5       6.391230
Dandenong      NO2          9.800705
Footscray      BPM2.5       7.640948
               CO           0.139754
               NO2         10.274531
Geelong South  BPM2.5       6.502762
               CO           0.142473
               NO2          5.681722
Melbourne CBD  BPM2.5       8.072998
Moe            BPM2.5       6.427079
Morwell East   BPM2.5       6.784596
               CO           0.140836
Morwell South  BPM2.5       6.512849
               CO           0.151979
               NO2          5.124430
Traralgon      BPM2.5       8.024735
               CO           0.159212
               NO2          5.776333
Name: value, dtype: float64

In [15]:
air_wide.stack().rename("value").to_frame()

                            value
sp_name       param_id
Alphington    BPM2.5     7.848758
              CO         0.210884
              NO2        9.558120
Altona North  NO2        9.467912
Churchill     BPM2.5     6.391230
Dandenong     NO2        9.800705
Footscray     BPM2.5     7.640948
              CO         0.139754
              NO2       10.274531
Geelong South BPM2.5     6.502762
              CO         0.142473
              NO2        5.681722
Melbourne CBD BPM2.5     8.072998
Moe           BPM2.5     6.427079
Morwell East  BPM2.5     6.784596
              CO         0.140836
Morwell South BPM2.5     6.512849
              CO         0.151979
              NO2        5.124430
Traralgon     BPM2.5     8.024735
              CO         0.159212
              NO2        5.776333

In [16]:
air_wide.stack().rename("value").to_frame().reset_index()

          sp_name param_id      value
0      Alphington   BPM2.5   7.848758
1      Alphington       CO   0.210884
2      Alphington      NO2   9.558120
3    Altona North      NO2   9.467912
4       Churchill   BPM2.5   6.391230
5       Dandenong      NO2   9.800705
6       Footscray   BPM2.5   7.640948
7       Footscray       CO   0.139754
8       Footscray      NO2  10.274531
9   Geelong South   BPM2.5   6.502762
10  Geelong South       CO   0.142473
11  Geelong South      NO2   5.681722
12  Melbourne CBD   BPM2.5   8.072998
13            Moe   BPM2.5   6.427079
14   Morwell East   BPM2.5   6.784596
15   Morwell East       CO   0.140836
16  Morwell South   BPM2.5   6.512849
17  Morwell South       CO   0.151979
18  Morwell South      NO2   5.124430
19      Traralgon   BPM2.5   8.024735
20      Traralgon       CO   0.159212
21      Traralgon      NO2   5.776333

# Joining/Merging

In [19]:
param = pd.read_csv("https://raw.githubusercontent.com/gagolews/" +
    "teaching-data/master/marek/air_quality_2018_param.csv",
    comment="#")
param=param.rename(dict(param_std_unit_of_measure="unit"), axis=1)

In [20]:
pd.merge(air,param, on ="param_id")

          sp_name param_id      value                   param_name   unit  \
0      Alphington   BPM2.5   7.848758  BAM  Particles < 2.5 micron  ug/m3
1       Churchill   BPM2.5   6.391230  BAM  Particles < 2.5 micron  ug/m3
2       Footscray   BPM2.5   7.640948  BAM  Particles < 2.5 micron  ug/m3
3   Geelong South   BPM2.5   6.502762  BAM  Particles < 2.5 micron  ug/m3
4   Melbourne CBD   BPM2.5   8.072998  BAM  Particles < 2.5 micron  ug/m3
5             Moe   BPM2.5   6.427079  BAM  Particles < 2.5 micron  ug/m3
6    Morwell East   BPM2.5   6.784596  BAM  Particles < 2.5 micron  ug/m3
7   Morwell South   BPM2.5   6.512849  BAM  Particles < 2.5 micron  ug/m3
8       Traralgon   BPM2.5   8.024735  BAM  Particles < 2.5 micron  ug/m3
9      Alphington       CO   0.210884              Carbon Monoxide    ppm
10      Footscray       CO   0.139754              Carbon Monoxide    ppm
11  Geelong South       CO   0.142473              Carbon Monoxide    ppm
12   Morwell East       CO   0.140836              Carbon Monoxide    ppm
13  Morwell South       CO   0.151979              Carbon Monoxide    ppm
14      Traralgon       CO   0.159212              Carbon Monoxide    ppm
15     Alphington      NO2   9.558120             Nitrogen Dioxide    ppb
16   Altona North      NO2   9.467912             Nitrogen Dioxide    ppb
17      Dandenong      NO2   9.800705             Nitrogen Dioxide    ppb
18      Footscray      NO2  10.274531             Nitrogen Dioxide    ppb
19  Geelong South      NO2   5.681722             Nitrogen Dioxide    ppb
20  Morwell South      NO2   5.124430             Nitrogen Dioxide    ppb
21      Traralgon      NO2   5.776333             Nitrogen Dioxide    ppb

   param_short_name
0             PM2.5
1             PM2.5
2             PM2.5
3             PM2.5
4             PM2.5
5             PM2.5
6             PM2.5
7             PM2.5
8             PM2.5
9                CO
10               CO
11               CO
12               CO
13               CO
14               CO
15              NO2
16              NO2
17              NO2
18              NO2
19              NO2
20              NO2
21              NO2

# Left, Right, Outer join

In [21]:
A = pd.DataFrame({
    "x": ["a0", "a1", "a2", "a3"],
    "y": ["b0", "b1", "b2", "b3"]
})
A

    x   y
0  a0  b0
1  a1  b1
2  a2  b2
3  a3  b3

In [22]:
B = pd.DataFrame({
    "x": ["a0", "a2", "a2", "a4"],
    "z": ["c0", "c1", "c2", "c3"]
})
B

    x   z
0  a0  c0
1  a2  c1
2  a2  c2
3  a4  c3

In [23]:
pd.merge(A, B, on="x") #join to return common data

    x   y   z
0  a0  b0  c0
1  a2  b2  c1
2  a2  b2  c2

In [24]:
pd.merge(A, B, how="left", on="x") #left outer join

    x   y    z
0  a0  b0   c0
1  a1  b1  NaN
2  a2  b2   c1
3  a2  b2   c2
4  a3  b3  NaN

In [25]:
pd.merge(A, B, how="right", on="x")#right outer join

    x    y   z
0  a0   b0  c0
1  a2   b2  c1
2  a2   b2  c2
3  a4  NaN  c3

In [26]:
pd.merge(A, B, how="outer", on="x")#full outer join

    x    y    z
0  a0   b0   c0
1  a1   b1  NaN
2  a2   b2   c1
3  a2   b2   c2
4  a3   b3  NaN
5  a4  NaN   c3